<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .Club img {
            height: 100px;
            width: auto;
        }

        .Club {
            /* border: 1px solid black; */
            text-align: center;
            height: 300px;
            font-size: 20px;
            color: #ffffff;
            margin-bottom: 15px;
            margin-top: 10px
        }

        .imgpart {
            height: 40%;
            background-color: #ffffff;
            background-image: url('https://www.arsenal.com/sites/default/files/styles/mobile_16x9/public/images/emirates_stadium01.jpg?itok=24IO_Mwv');
            background-position-y: -70px;
            background-position-x: -40px;
        }

        .contents {
            height: 60%;
            padding: 5px;
        }

        .LogoClub {
            position: absolute;
            top: 80px;
            left: 107px;
        }
    </style>
</head>
<body>
    <div class="container ">
        <div class="row">

            <div class="col-sm-3 ">
                <div class="Club " style="background-color: #FF0000;">
                    <div class="imgpart">
                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/5/53/Arsenal_FC.svg/870px-Arsenal_FC.svg.png"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>Arsenal</span> <br>
                        <span>The Gunners</span> <br>
                        <a href="http://localhost:6969/club/1/arsenal">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color: rgb(238, 45, 65);">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://vignette.wikia.nocookie.net/logopedia/images/b/b4/Bournemouth_FC_1988.png/revision/latest?cb=20180126060130"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>AFC Bournemounth</span> <br>
                        <span>Vitality</span> <br>
                        <a href="http://localhost:6969/club/2/bournemounth">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:rgb(40, 74, 177);">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/f/fd/Brighton_%26_Hove_Albion_logo.svg/1024px-Brighton_%26_Hove_Albion_logo.svg.png"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>Brighton & Hove Albion</span> <br>
                        <span>Falmer </span> <br>
                        <a href="http://localhost:6969/club/3/brigton">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#73003A;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/1/1a/Burnley_FC.png/200px-Burnley_FC.png"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>Burnley F.C</span> <br>
                        <span>Turf Moor</span> <br>
                        <a href="http://localhost:6969/club/4/burnley">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:rgb(59, 98, 170);">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3c/Cardiff_City_crest.svg/1200px-Cardiff_City_crest.svg.png"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>Cardiff City</span> <br>
                        <span>Cardiff City Stadium</span> <br>
                        <a href="http://localhost:6969/club/5/cardiff">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#232D96;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/5/5c/Chelsea_crest.svg/1024px-Chelsea_crest.svg.png"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>Chelsea F.C</span> <br>
                        <span>Stanford Bridge</span> <br>
                        <a href="http://localhost:6969/club/6/chelsea">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#FC0000;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://i.eurosport.com/_iss_/sport/football/club/logo/large/100094.png" alt="">
                        </span>
                        <br>
                        <br>

                        <span>Crystal Palace</span> <br>
                        <span>Selhurst Park</span> <br>
                        <a href="http://localhost:6969/club/7/crystal">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#28009D;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/b/b7/Everton_FC_logo.svg.png" alt="">
                        </span>
                        <br>
                        <br>

                        <span>Everton F.C</span> <br>
                        <span>Goodison Park</span> <br>
                        <a href="http://localhost:6969/club/8/everton">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#F5F5F5; color: black">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Fulham_FC_%28shield%29.svg/1200px-Fulham_FC_%28shield%29.svg.png"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>Fulham F.C</span> <br>
                        <span>Craven Cottage Stadium</span> <br>
                        <a href="http://localhost:6969/club/9/fulham">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#F5F5F5; color: black;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/Huddersfield_Town_A.F.C._logo.svg/1200px-Huddersfield_Town_A.F.C._logo.svg.png"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>HuddersField Town </span> <br>
                        <span>Galfarm Stadium Stadium</span> <br>
                        <a href="http://localhost:6969/club/10/huddersfield">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#35268A;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2d/Leicester_City_crest.svg/220px-Leicester_City_crest.svg.png"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>Leicester City</span> <br>
                        <span>King Power Stadium</span> <br>
                        <a href="http://localhost:6969/club/11/leicester">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#F30000;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/0/0c/Liverpool_FC.svg/220px-Liverpool_FC.svg.png"
                                alt="">
                        </span>
                        <br>
                        <br>

                        <span>Liverpool F.C</span> <br>
                        <span>Anfield Stadium</span> <br>
                        <a href="http://localhost:6969/club/12/liverpool">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color: #64A6E2;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/1/1d/Manchester_City_FC_logo.svg/1200px-Manchester_City_FC_logo.svg.png" alt="">
                        </span>
                        <br>
                        <br>

                        <span>Manchester City</span> <br>
                        <span>Etihad Stadium</span> <br>
                        <a href="http://localhost:6969/club/13/mancity">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#F30000;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1011px-Man_Utd_FC_.svg.png" alt="">
                        </span>
                        <br>
                        <br>

                        <span>Manchester United</span> <br>
                        <span>Old Traford Stadium</span> <br>
                        <a href="http://localhost:6969/club/14/manutd">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#3B3B3B;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Newcastle_United_Logo.svg/1200px-Newcastle_United_Logo.svg.png" alt="">
                        </span>
                        <br>
                        <br>

                        <span>Newcastle United</span> <br>
                        <span>St James Park Stadium</span> <br>
                        <a href="http://localhost:6969/club/15/newcastle">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#F30000;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/4/4b/356px-FC_Southampton.svg.png/200px-356px-FC_Southampton.svg.png" alt="">
                        </span>
                        <br>
                        <br>

                        <span>Southamton F.C</span> <br>
                        <span>The Saints Stadium</span> <br>
                        <a href="http://localhost:6969/club/16/southamton">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#F5F5F5;color: black;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://tot-tmp.azureedge.net/media/2280/spurs-blue-no-text-300x300.png?anchor=center&mode=crop&width=300" alt="">
                        </span>
                        <br>
                        <br>

                        <span>Tottenham Hotspur</span> <br>
                        <span>White Hart Lane Stadium</span> <br>
                        <a href="http://localhost:6969/club/17/tottenham">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#FAFE00;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/6/62/Watford.svg.png/220px-Watford.svg.png" alt="">
                        </span>
                        <br>
                        <br>

                        <span>Watford F.C</span> <br>
                        <span>Vicarage Road Stadium</span> <br>
                        <a href="http://localhost:6969/club/18/watford">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="Club " style="background-color:#851C3A;">
                    <div class="imgpart">

                    </div>
                    <div class="contents">
                        <span class="LogoClub">
                            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/West_Ham_United_FC_logo.svg/1200px-West_Ham_United_FC_logo.svg.png" alt="">
                        </span>
                        <br>
                        <br>

                        <span>West Ham United</span> <br>
                        <span>Olympic</span> <br>
                        <a href="http://localhost:6969/club/19/westham">
                            <span>
                                View Profile
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                    <div class="Club " style="background-color:#FFA100;">
                        <div class="imgpart">
    
                        </div>
                        <div class="contents">
                            <span class="LogoClub">
                                <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/6/6c/Wolverhampton_Wanderers.png/200px-Wolverhampton_Wanderers.png" alt="">
                            </span>
                            <br>
                            <br>
    
                            <span>Wolverhamton Wanderer</span> <br>
                            <span>Molineux Stadium</span> <br>
                            <a href="http://localhost:6969/club/20/wolver">
                                <span>
                                    View Profile
                                </span>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>